@page "/report-issues"
@using System.Text.Json.Serialization
@using Qec_Project.Shared.Models
@inject HttpClient HttpClient


<h1 class="text-center my-4 text-primary fw-bold">Report Issue</h1>

@if (Model != null)
{
  <EditForm Model="Model" OnSubmit="OnSubmit" class="container mt-4 p-4 border rounded shadow-sm bg-light"
    style="max-width: 600px;">

    <div class="mb-3">
      <label for="sub" class="form-label fw-semibold">Subject</label>
      <select id="sub" @bind="Model.Subject" class="form-select">
        @if (Subjects != null)
        {
          @foreach (var dic in Subjects)
          {
            @foreach (var kvp in dic)
            {
              <option id="@kvp.Key">@kvp.Value</option>
            }
          }
        }
      </select>
    </div>

    <div class="mb-3">
      <label for="sem" class="form-label fw-semibold">Semester</label>
      <select id="sem" @bind="Model.Semester" class="form-select">
        @if (Semesters != null)
        {
          @foreach (var dic in Semesters)
          {
            @foreach (var kvp in dic)
            {
              <option id="@kvp.Key">@kvp.Value</option>
            }
          }
        }
      </select>
    </div>

    <div class="mb-3">
      <label for="ins" class="form-label fw-semibold">Instructor</label>
      <select id="ins" @bind="Model.Instructor" class="form-select">
        @if (Instructors != null)
        {
          @foreach (var dic in Instructors)
          {
            @foreach (var kvp in dic)
            {
              <option id="@kvp.Key">@kvp.Value</option>
            }
          }
        }
      </select>
    </div>

    <div class="mb-3">
      <label for="prob" class="form-label fw-semibold">Problem</label>
      <textarea @bind="Model.Problem" id="prob" class="form-control" rows="4"
        placeholder="Enter your problem here"></textarea>
    </div>

    <div class="mb-3">
      <label for="repoBy" class="form-label fw-semibold">Reported By</label>
      <input type="text" class="form-control" id="repoBy" value="Saud" disabled />
    </div>

    <div class="mb-3">
      <label for="sign" class="form-label fw-semibold">Signature</label>
      <input type="file" @bind="Model.SignatureImageUrl" class="form-control" id="sign" accept="image/*"/>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary px-5 py-2">Submit Form</button>
    </div>

  </EditForm>

}

<h1>response = @problem</h1>

@code
{
  private List<Dictionary<string, string>>? Subjects;
  private List<Dictionary<string, string>>? Instructors;
  private List<Dictionary<string, string>>? Semesters;

  private string problem;


  [SupplyParameterFromForm]
  private CreateIssueModel? Model { get; set; }



  protected override async Task OnInitializedAsync()
  {
    Model ??= new();
    Subjects = await
    HttpClient.GetFromJsonAsync<List<Dictionary<string, string>>>("http://localhost:4000/api/reportissues/courses");
    Instructors = await
    HttpClient.GetFromJsonAsync<List<Dictionary<string, string>>>("http://localhost:4000/api/reportissues/instructor");
    Semesters = await
    HttpClient.GetFromJsonAsync<List<Dictionary<string, string>>>("http://localhost:4000/api/reportissues/semester");
  }

  protected async Task  OnSubmit()
  {
    try
    {
      var response = await HttpClient.PostAsJsonAsync("http://localhost:4000/api/reportissues/submit", Model);
      if(response.IsSuccessStatusCode){
      var result = await response.Content.ReadFromJsonAsync<Dictionary<string, string>>();

            if (result != null && result.TryGetValue("message", out var message))
            {
                problem = message;
                Console.WriteLine(message);
            }
      }
    }
    catch(Exception ex) {
      Console.WriteLine(ex);
     }
  }
}